<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet"/>
</head>
<body>

<div>
<h1>Dit projekt</h1>
<p th:text="'Project name: '+ ${project.projectName}"/>
<p th:text="'Description: '+${project.description}"/>
<p th:text="'Number of employee: '+${project.numberOfemp}"/>
<p th:text="'Your total price: '+${project.totalPrice}"/>
<p th:text="'Your start date: '+${project.startDay}"/>
<p th:text="'Your end date: '+${project.endDay}"/>
<p th:text="'Number of days during your projekt: '+${project.workingDays}"/>
<p th:text="'Number of hours during your projekt: '+${project.workingHours}"/>
</div>

<br />
<br />
<div th:each="subProject: ${subProjects}">
    <p th:text="'Sub project name: ' +${subProject.subProjectName}" />
    <p th:text="'description: '+${subProject.description}" />
    <p th:text="'Your estemation: ' +${subProject.estimation}" />
    <p th:text="'Days: ' +${subProject.procentDays}" />
    <p th:text="'Hours: ' +${subProject.procentHours}" />
    <p th:text="'The cost of your sub project: ' +${subProject.procentPrices}" />
    <p th:text="'Number of employee: ' +${subProject.procentEmp}" />
</div>
<br />
<br />
<div th:each="task: ${tasks}">
    <p th:text="'Task Name: ' +${task.name}"/>
    <p th:text="'Description: ' +${task.description}"/>
    <p th:text="'Estimation: ' +${task.procentDays}"/>
    <p th:text="'Days: ' +${task.procentDays}"/>
    <p th:text="'Hours: ' +${task.procentHours}"/>
    <p th:text="'The cost of your task: ' +${task.procentPrices}"/>
    <p th:text="'The numeber of employee: ' +${task.procentEmp}"/>
</div>
<br />
<br />
<div th:each="subTask: ${subTasks}">
    <p th:text="'Sub task name: ' +${subTask.name}"/>
    <p th:text="'Description: ' +${subTask.description}"/>
    <p th:text="'Estimation: ' +${subTask.estimation}"/>
    <p th:text="'Days: ' +${subTask.procentDays}"/>
    <p th:text="'Hours: ' +${subTask.procentHours}"/>
    <p th:text="'The cost of your sub task: ' +${subTask.procentPrices}"/>
    <p th:text="'Number of employee: ' +${subTask.procentEmp}"/>
</div>

</body>
</html>