<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link th:href="@{/static/css/stylesheet.css}" rel="stylesheet"/>
</head>
<body>

<div style="box-sizing: border-box; width: 50%; border: 20px orange; float: left">
<h1>Dit projekt</h1>
<p th:text="'Name: '+ ${project.projectName}"/>
<p th:text="'description: '+${project.description}"/>
<p th:text="'Number of employee '+${project.numberOfemp}"/>
<p th:text="'Your total price '+${project.totalPrice}"/>
<p th:text="'Your start date '+${project.startDay}"/>
<p th:text="'Your end date '+${project.endDay}"/>
<p th:text="'number of days during your projekt '+${project.workingDays}"/>
<p th:text="'number of hours during your projekt '+${project.workingHours}"/>
</div>

<br />
<br />
<div th:each="subProject: ${subProjects}">
    <p th:text="'Sub project name ' +${subProject.subProjectName}" />
    <p th:text="'description '+${subProject.description}" />
    <p th:text="'Your estemation ' +${subProject.estimation}" />
    <p th:text="'Days in % ' +${subProject.procentDays}" />
    <p th:text="'Hours in % ' +${subProject.procentHours}" />
    <p th:text="'Price in % ' +${subProject.procentPrices}" />
    <p th:text="'Employee % ' +${subProject.procentEmp}" />
</div>
<br />
<br />
<div th:each="task: ${tasks}">
    <p th:text="'Task Name :' +${task.name}"/>
    <p th:text="'Description :' +${task.description}"/>
    <p th:text="'estimation :' +${task.procentDays}"/>
    <p th:text="'procentDays' +${task.procentDays}"/>
    <p th:text="'procentHours' +${task.procentHours}"/>
    <p th:text="'procentPrices' +${task.procentPrices}"/>
    <p th:text="'procentEmp' +${task.procentEmp}"/>
</div>
<br />
<br />
<div th:each="subTask: ${subTasks}">
    <p th:text="'Sub Name : ' +${subTask.name}"/>
    <p th:text="'Description : ' +${subTask.description}"/>
    <p th:text="'Estimation : ' +${subTask.estimation}"/>
    <p th:text="'Procent Days : ' +${subTask.procentDays}"/>
    <p th:text="'Procent Hours : ' +${subTask.procentHours}"/>
    <p th:text="'Procent Prices : ' +${subTask.procentPrices}"/>
    <p th:text="'Procent Employee : ' +${subTask.procentEmp}"/>
</div>

</body>
</html>