<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
        <br><br><br><br><br><br><br><br>
        <div style="alignment: center">
            <form method="post" action="/loginRequest" style="border: solid;border-width: 5px; padding: 10px">
                <label for="email">E-mail</label><br>
                <input type="text" id="email" name="email"><br>
                <label for="password">Kodeord</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Login">
            </form><br>
            <a href="/register"><p>Registrer ny bruger</p></a>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
</body>
</html>