<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightblue">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/login">ProjektKalkulationsVærktøj</a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
        <br><br><br><br><br><br><br><br>
        <div style="alignment: center">
            <form method="post" action="/loginRequest" style="border: solid;border-width: 5px; padding: 10px">
                <label for="mail">E-mail</label><br>
                <input type="text" id="mail" name="mail"><br>
                <label for="password">Kodeord</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Login">
                <input formmethod="get" formaction="/register" type="submit" value="Registrer">
            </form><br>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
</body>
</html>