<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightblue">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ProjektKalkulationsVærktøj</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="brand"><a href="/OpretProjekt">Opret Projekt</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log ud</a></li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-3">
        <div style="alignment: center">
            <form method="get" action="/profile" style="border: solid;border-width: 5px; padding: 20px">
                <label for="name">Navn</label><br>
                <input th:value="${corporation.getName()}" type="text" id="name" name="name"><br><br>
                <label for="CVR_no">CVR nummer</label><br>
                <input th:value="${corporation.getCvr_no()}" type="text" id="CVR_no" name="CVR_no"><br><br>
                <label for="mail">E-mail</label><br>
                <input th:value="${corporation.getMail()}" type="text" id="mail" name="mail"><br><br>
                <label for="password">Kodeord</label><br>
                <input th:value="${corporation.getPassword()}" type="password" id="password" name="password"><br><br>
            </form>
            <br>
            <br>
            <form method="post" action="/deleteProfile">
                <input type="submit" value="Slet Profil"/>
                <input type="hidden" name="corpID" th:value="${corporation.getCorpID()}">
            </form>
        </div>
    </div>
    <div class="col-lg-3"></div>

</div>
</body>
</html>