<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
        <a href="/OpretProjekt" th:unless="${userIden.isEmpID()}"><p>Opret projekt</p></a>
        <a href="/inbox" th:unless="${userIden.isEmpID()}"><p>Indbakke</p></a>
        <a href="/candidates" th:unless="${userIden.isAdmin()}"><p>Kandidater</p></a>
        <a href="/profile"  th:unless="${userIden.isAdmin()}"><p>Profil</p></a>
        <a href="/userList" th:if="${userIden.isAdmin()}"><p>Bruger liste</p></a>
    </div>
    <div class="col-lg-2">
        <div style="alignment: center">
            <form method="get" action="/profile">
                <label for="name">Navn</label>
                <input th:value="${corporation.getName()}" type="text" id="name" name="name">
                <label for="CVR_no">CVR nummer</label>
                <input th:value="${corporation.getCVR_no()}" type="text" id="CVR_no" name="CVR_no"><br>
                <label for="mail">E-mail</label>
                <input th:value="${corporation.getMail()}" type="text" id="mail" name="mail">
                <label for="password">Kodeord</label><br>
                <input th:value="${corporation.getPassword()}" type="text" id="password" name="password"><br>
                <br>
                <input type="submit" value="Rediger Profil"/>
            </form>
            <br>
            <br>
            <form method="post" action="/deleteProfile">
                <input type="submit" value="Slet Profil"/>
                <input type="hidden" name="corpID" th:value="${profile.getCorpID()}">
            </form>
        </div>
    </div>
    <div class="col-lg-1">
        <a href="/logout"><p>logout</p></a>
        <br><br><br><br><br><br><br><br><br>
    </div>
    <div class="col-lg-3"></div>

</div>
</body>
</html>