<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Projekt</title>
    <link href="stylesheet.css" rel="stylesheet">
</head>
<body>

<h1>Opret et projekt</h1>

<form action="#" th:action="@{/OpretProjekt}" th:object="${OpretProjekt}" method="post"></form>

<p>Name : <input type="text" th:field="*{name}"></p>
<p>Number of employee : <input type="text" th:field="*{numberOfemp}"/></p>
<p>Your day price : <input type="text" th:field="*{dayPrice}"/></p>
<p>Your start date : <input type="text" th:field="*{startdate}"/> </p>
<p>Your end date <input type="text" th:field="*{endDate}"></p>

<p><input type="submit" value="Opret dit projekt"/></p>



</body>
</html>
