<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Projekt</title>
    <link href="stylesheet.css" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
        <a href="/profile"><p>Profile</p></a>
        <a href="/logout"><p>logout</p></a>
    </div>
    <div class="col-lg-2">
        <div style="alignment: center">
<h1>Opret et projekt</h1>
<form action="#" th:action="@{/OpretProjekt}" th:object="${project}" method="post">
    <p>Name : <input type="text" th:field="*{projectName}"/></p>
    <p>Description : <input type="text" th:field="*{description}"/></p>
    <p>Number of employee : <input type="text" th:field="*{numberOfemp}"/></p>
    <p>Your day price : <input type="text" th:field="*{dayPrice}"/></p>
    <p>Your start date : <input type="text" th:field="*{startDay}"/> </p>
    <p>Your end date <input type="text" th:field="*{endDay}"/></p>
    <p><input type="submit" value="Opret dit projekt"/></p>
</form>
        </div>
    </div>

</div>
</body>
</html>
