<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sub View</title>
    <link href="stylesheet.css" rel="stylesheet">
</head>
<body>
<h1>Dit subprojekt</h1>
<p th:text="'Sub project name: ' +${subProject.subProjectName}" />
<p th:text="'description: ' +${subProject.description}" />
<p th:text="'Your estemation: ' +${subProject.estimation}" />
<p th:text="'Days: ' +${subProject.procentDays}" />
<p th:text="'Hours: ' +${subProject.procentHours}" />
<p th:text="'The cost of your sub project: ' +${subProject.procentPrices}" />
<p th:text="'Number of employee: ' +${subProject.procentEmp}" />
<a href="/OpretTask">Opret en task</a>
</body>
</html>