<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sub Project</title>
    <link href="stylesheet.css" rel="stylesheet">
</head>
<body>

<h>Opret subprojekt</h>

<form action="#" th:action="@{/OpretSubProject}" th:object="${subProject}" method="post">
    <p>Name : <input type="text" th:field="*{subProjectName}"></p>
    <p>description : <input type="text" th:field="*{description}"></p>
    <p>Afsat tid : <input type="text" th:field="*{estimation}"></p>
    <p><input type="submit" value="Opret dit Sub-projekt"/></p>
</form>

</body>
</html>