<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Taskview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: lightblue">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/login">ProjektKalkulationsVærktøj</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="brand"><a href="/OpretProjekt">Opret nyt Projekt</a>
            </li>
            <li class="brand"><a href="/profile">Profil</a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log ud</a></li>
        </ul>
    </div>
</nav>
<h1>Task</h1>
<p th:text="'Task Name: ' +${task.name}"/>
<p th:text="'Description: ' +${task.description}"/>
<p th:text="'estimation: ' +${task.procentDays}"/>
<p th:text="'Day: ' +${task.procentDays}"/>
<p th:text="'Hours ' +${task.procentHours}"/>
<p th:text="'The cost of your task: ' +${task.procentPrices}"/>
<p th:text="'Number of employee: ' +${task.procentEmp}"/>

<br>
<br>
<form method="get" action="/OpretSubTask">
    <input type="submit" value="Opret subtask"/>
</form>

</body>
</html>